header{
    background-color: black;
    margin: -10px;
    padding: 5px;
}
.title{
    color: beige;
}
article {
    width: 400px;
    background-color: gray;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto ;
}

.imagem-perfil{
    object-fit: cover; /*pra nao perder definição*/
    height: 200px;
    width: 200px;
    border-radius: 25%;
    position: absolute;
    right: 50px;
    top:100px;
}



