header{
    background-color: black;
    margin: -10px;
    padding: 5px;
}

.title{
    color: rgb(201, 191, 218);
    padding-left: 40px;
}

article {
    width: 500px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    position: absolute;
    top: 260px;
    right: 400px;
    color: rgb(201, 191, 218);
    font-family: Georgia, serif;
    font-size: large;
}

.imagem-perfil{
    object-fit: cover; /*pra nao perder definição*/
    height: 200px;
    width: 200px;
    border-radius: 25%;
    position: absolute;
    right: 90px;
    top:100px;
}

body{
    background-color: rgb(37, 37, 43);
}

video{
    position: absolute;
    left: 40px;
    top: 350px;
}

#quote{
    position: absolute;
    right: 40px;
    bottom: 50px;
    color: rgb(201, 191, 218);
}

.profile-links{
    position:absolute;
    right:140px;
    top:310px;
}



